<web-app>
<servlet>
<servlet-name>SendRedirect</servlet-name>
<servlet-class>SendRedirect</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SendRedirect</servlet-name>
<url-pattern>/sendre</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Err</servlet-name>
<servlet-class>Err</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Err</servlet-name>
<url-pattern>/err</url-pattern>
</servlet-mapping>
</web-app>