<web-app>
<servlet>
<servlet-name>ExcelServlet</servlet-name>
<servlet-class>ExcelServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ExcelServlet</servlet-name>
<url-pattern>/exlserv</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RefreshServlet</servlet-name>
<servlet-class>RefreshServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RefreshServlet</servlet-name>
<url-pattern>/refserv</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ImageServlet</servlet-name>
<servlet-class>ImageServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ImageServlet</servlet-name>
<url-pattern>/imgserv</url-pattern>
</servlet-mapping>
</web-app>