<web-app>
<servlet>
<servlet-name>ActualService</servlet-name>
<servlet-class>ActualService</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ActualService</servlet-name>
<url-pattern>/actserv</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DuplicateService</servlet-name>
<servlet-class>DuplicateService</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DuplicateService</servlet-name>
<url-pattern>/dupserv</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RequestServlet</servlet-name>
<servlet-class>RequestServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RequestServlet</servlet-name>
<url-pattern>/reqserv</url-pattern>
</servlet-mapping>
</web-app>