<web-app>
<servlet>
<servlet-name>ListenerServlet</servlet-name>
<servlet-class>ListenerServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ListenerServlet</servlet-name>
<url-pattern>/lisserv</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>SessionServlet</servlet-name>
<servlet-class>SessionServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SessionServlet</servlet-name>
<url-pattern>/sesserv</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RequestListenerServlet</servlet-name>
<servlet-class>RequestListenerServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RequestListenerServlet</servlet-name>
<url-pattern>/rlserv</url-pattern>
</servlet-mapping>
<listener>
<listener-class>MyListener</listener-class>
</listener>
<listener>
<listener-class>MySessionListener</listener-class>
</listener>
<listener>
<listener-class>MyRequestListener</listener-class>
</listener>
</web-app>