<web-app>
<servlet>
<servlet-name>AllServlet</servlet-name>
<servlet-class>AllServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AllServlet</servlet-name>
<url-pattern>/allserv</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>FormServlet</servlet-name>
<servlet-class>FormServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FormServlet</servlet-name>
<url-pattern>/formserv</url-pattern>
</servlet-mapping>
</web-app>